<h1>Hallo Board</h1>

<script>
    async function sendMessage() {
        let fd = new FormData();
        let token = '{{ csrf_token }}';
        fd.append('csrfmiddlewaretoken', token);
   

        await fetch('/api/tasks', {
            method: 'POST',
            body: fd
        });

        console.log('Success!!!');
    }

    function getdate() {
        moment(date).format('YYYY-MM-DD HH:mm');
    }
</script> 

<form onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <button click="sendMessage()">Add tabel Field</button>
</form>

<div id="messageContainer">

</div>

<style>
    .newtasktestbox {
        height: 400px;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .newtask {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .loginfenster {
        height: 400px;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }

    .registriungsfenster {
        height: 400px;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
</style>
<div class="newtasktestbox">
    <form class="newtask" action="" method="post">
        {% csrf_token %}
        Text<input type="text" name="textvalue">
        Datum<input onsubmit="getdate();" id="date" type="date" name="datevalue">   
        Farbe<input type="text" name="colorvalue">
        Beschreibung<input type="text" name="discriptionvalue">
        auswahl
        <select name="category" id="category-field">
            <option value="Todo">Todo</option>
            <option value="Today">Today</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
        </select>
        <button>Erstellen</button>
    </form>
</div>

<div class="loginfenster">
    {% csrf_token %}
    <form class="newtask" action="" method="post">
        Email<input type="email" name="emailvalue">
        Password<input type="password" name="password">
        <button>Erstellen</button>
    </form>
</div>




